@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-1: #ADB5BD;
  --color-brand-2: #6C757D;
  --color-brand-3: #495057;
  --color-brand-4: #343A40;
  --color-brand-5: #212529;
}

:root {
  --background: #212529;
  --foreground: #ADB5BD;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  touch-action: none;
}
